@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .af-container {
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    padding: 0 1rem;
  }

  .text-balance {
    text-wrap: balance;
  }
}
